###
#
# Settings folders and files
#
###
/.set/*
!/.set/settings_TEMPLATE.json

###
#
# links and url shortcuts
#
###
*.lnk

###
#
# IDE folders and files
#
###
/.idea
__pycache__/

###
#
# Output Files when run locally
#
###
output/

###
#
# Files for S3 code repository 
#
###
/S3_files/

fast.cmd
