# generic packahes file for versions 
# other than python 3.8 and python 3.12
# =====================================
boto3
typing
fiona
pandas
openpyxl
urllib3
datetime
awswrangler
geopandas
lxml
paramiko # pysfpt replacement
